ijson==3.0.3
langid==1.1.6
nltk==3.5
numpy==1.18.4
pandas==1.0.3
py2neo==3.1.2
pymongo==3.10.1
pyquery==1.4.1
requests==2.23.0
tqdm==4.46.0
unicodecsv==0.14.1
Unidecode==1.1.1
PyYAML==5.3.1
cffi==1.14.0
pymetamap == 0.1