{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        .ui-autocomplete-loading {
            background: white url({{ url_for('static', filename='loading.gif') }}) right center no-repeat;
        }

        line {
            stroke: #999;
            stroke-opacity: 0.6;
        }

        circle {

        }

        text.selected {
            fill: #0a0a0a;
            font-size: 75%;
            font-weight: bold;
        }

        text.not-selected {
            fill: #aaa;
            font-size: 60%;
            font-weight: normal;
        }

        table {
            display: flex;
            flex-flow: column;
            width: 100%;
        }

        thead {
            flex: 0 0 auto;
        }

        tbody {
            max-height: 400px;
            flex: 1 1 auto;
            display: block;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        div.checkboxes-grp {
            height: 200px;
            overflow-y: scroll;
        }
    </style>
{% endblock %}

{% block app_content %}

    <div class="container-fluid">
        <div class="d-flex flex-row">
            <div class="p-2">
                <h3>Graph Browser</h3>
            </div>
            <div class="p-2 flex-md-grow-1">
                <input id="search" type="text" class="form-control" placeholder="Input search term">
            </div>
        </div>
        <br>
        <div class="row">
            <div id="toolbox" class="col-lg-2 border rounded">
                <div class="row">
                    <label for="relationshipTypes">Relationship types</label>
                    <div id="relationshipTypes" class="border checkboxes-grp" style="width: 100%">
                    </div>
                </div>
                <div class="row">
                    <label for="semanticTypes">Semantic types</label>
                    <div id="semanticTypes" class="border checkboxes-grp" style="width: 100%">
                    </div>
                </div>
                <div class="row">
                    <label class="" for="numOfNeighbors">Number of neighbors</label>
                    <input type="number" class="form-control" id="numOfNeighbors" value="10" step="1" min="1" max="15">
                </div>
                <br>
                <div class="row justify-content-end">
                    <button class="btn btn-primary" id="applyButton">Apply</button>
                </div>
            </div>
            <div class="col-lg-5 border rounded">
                <div class="row">
                    <button id="expandButton" class="btn btn-light btn-sm" disabled>
                        Expand node
                    </button>
                    <button id="deflateButton" class="btn btn-light btn-sm" disabled style="display: none">
                        Deflate node
                    </button>
                    <button id="nextNodesButton" class="btn btn-light btn-sm" disabled>
                        Get next nodes
                    </button>
                </div>
                <div class="row" id="canvas"></div>
            </div>
            <div id="articlesDisplay" class="col-lg-5">
                <div class="card card-primary">
                    <div class="card-header bg-primary">
                        <h3 id="term" class="card-title"></h3>
                    </div>
                    <div class="card-body table-responsive">
                        <div id="nodeInfo" style="display: none">Semantic Type:</div>
                        <div id="linkInfo" style="display: none">
                            <div id="linkSourceNode" class="d-flex flex-row"></div>
                            <div id="linkTargetNode" class="d-flex flex-row"></div>
                        </div>
                        <h4>Related Articles</h4>
                        <table class="table" id="articleTable">
                            <thead>
                            <tr>
                                <th style="width: 15%">PMID</th>
                                <th style="width: 55%">Title</th>
                                <th style="width: 15%">Journal</th>
                                <th style="width: 15%">Mentions</th>
                                <th style="width: 5%"></th>
                            </tr>
                            </thead>
                        </table>
                        <div class="d-flex flex-row-reverse">
                            <p class="p-2"><em>* highlighted articles are annotated with the term as topic</em></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='semantic_types.js') }}"></script>
    <script type=text/javascript>
        let width = 500,
            height = 500;
        let nodeSize = 15;
        let skipNodesNum = 0;
        let totalNodes = 0;
        let relationshipCounts = null;
        let semTypeCounts = null;

        let nodes = [];
        let links = [];
        let frozenSets = [];
        let focusNode = null;
        let focusRel = null;
        let expandedNode = null;

        const expandButton = $('#expandButton');
        expandButton.prop('disabled', true);
        const deflateButton = $('#deflateButton');
        deflateButton.prop('disabled', true);
        const nextNodesButton = $('#nextNodesButton');
        nextNodesButton.prop('disabled', true);
        const applyButton = $('#applyButton');

        const svg = d3.create("svg")
            .property("value", {nodes: [], links: []})
            .attr("viewBox", [-width / 2, -height / 2, width, height]);

        svg.append('defs').append('marker')
            .attr("id", "arrow")
            .attr("viewBox", '-0 -5 10 10')
            .attr("refX", 5)
            .attr("refY", 0)
            .attr("markerWidth", 13)
            .attr("markerHeight", 8)
            .attr("orient", 'auto')
            .attr("xoverflow", 'visible')
            .append('svg:path')
            .attr('d', 'M 0,-5 L 5 ,0 L 0,5')
            .attr('fill', '#999')
            .style('stroke', 'none');

        d3.select("#canvas").append(() => svg.node());

        let simulation = d3.forceSimulation(nodes)
            .force("link", d3.forceLink(links).id(function (d) {
                return d.id;
            }).distance(120).strength(1))
            .force("charge", d3.forceManyBody().strength(-100))
            .force("center", d3.forceCenter(0, 0))
            .on("tick", ticked);

        const dragger = d3.drag(simulation)
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended);

        let link = svg.append("g")
            .attr("stroke", "#999")
            .attr("opacity", "0.9")
            .selectAll("line");

        let edgepaths = svg.selectAll(".edgepath");
        let edgelabels = svg.selectAll(".edgelabel")

        let node = svg.append("g")
            .selectAll(".node");

        function ticked() {
            link.each(function (d) {
                deltaX = d.target.x - d.source.x;
                deltaY = d.target.y - d.source.y;

                pythag = Math.sqrt((deltaX * deltaX) + (deltaY * deltaY));

                adjusted_source_X = d.source.x + ((deltaX * nodeSize) / pythag);
                adjusted_source_Y = d.source.y + ((deltaY * nodeSize) / pythag);
                adjusted_target_X = d.target.x - ((deltaX * nodeSize) / pythag);
                adjusted_target_Y = d.target.y - ((deltaY * nodeSize) / pythag);

                d3.select(this)
                    .attr("x1", adjusted_source_X)
                    .attr("y1", adjusted_source_Y)
                    .attr("x2", adjusted_target_X)
                    .attr("y2", adjusted_target_Y);

            });

            node
                .attr("transform", function (d) {
                    return "translate(" + d.x + "," + d.y + ")";
                })

            edgepaths.attr('d', function (d) {
                return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y;
            });

            edgelabels.attr('transform', function (d) {
                if (d.target.x < d.source.x) {
                    let bbox = this.getBBox();
                    rx = bbox.x + bbox.width / 2;
                    ry = bbox.y + bbox.height / 2;
                    return 'rotate(180 ' + rx + ' ' + ry + ')';
                }
                return 'rotate(0)';
            });
        }

        function dragstarted(event) {
            if (!event.active) simulation.alphaTarget(0.3).restart();
            event.subject.fx = event.subject.x;
            event.subject.fy = event.subject.y;
        }

        function dragged(event) {
            event.subject.fx = event.x;
            event.subject.fy = event.y;
        }

        function dragended(event) {
            if (!event.active) simulation.alphaTarget(0);
            event.subject.fx = null;
            event.subject.fy = null;
        }

        function clickedNode(event, d) {
            if (event.defaultPrevented) return; // dragged

            if (focusNode != null) {
                focusNode.node.select(".node_circle").attr("stroke", "#fff");
            }

            if (focusRel != null) {
                focusRel.link.attr("class", "edgelabel not-selected");
                focusRel = null;
            }

            focusNode = {"data": d, "node": d3.select(this)};

            focusNode.node.select(".node_circle").attr("stroke", "black");
            updateInfoBoxForNode(d);
            addNodeArticles(d.label);
            expandButton.prop('disabled', false);
        }

        function clickedRel(event, d) {
            if (event.defaultPrevented) return; // dragged

            if (focusNode != null) {
                focusNode.node.select(".node_circle").attr("stroke", "#fff");
                focusNode = null;
            }

            if (focusRel != null) {
                focusRel.link.attr("class", "edgelabel not-selected");
            }

            focusRel = {"data": d, "link": d3.select(this)};
            focusRel.link.attr("class", "edgelabel selected");
            updateInfoBoxForLink(d);
            addLinkArticles(d.source.cui, d.target.cui, d.type);
            expandButton.prop('disabled', true);
        }

        expandButton.click(expandNode);

        function expandNode() {
            if (focusNode.data.cui > nodes[0].cui) {
                frozenSets.push([nodes[0].cui, focusNode.data.cui]);
            } else {
                frozenSets.push([focusNode.data.cui, nodes[0].cui]);
            }
            getNodeStats(focusNode.data.label);
            plot(focusNode.data.label, frozenSets, $('#numOfNeighbors').val(), 0, [], []);
        }

        function createForceNetwork(in_nodes, edges) {
            nodes = in_nodes;
            links = edges;

            link = link
                .data(links)
                .join(enter => enter.append("line")
                        .attr("stroke-width", "1px")
                        .attr('marker-end', "url(#arrow"),
                    update => update,
                    exit => exit.remove());

            edgepaths = edgepaths.data(links)
                .join(
                    enter => enter.append('path')
                        .attr("class", "edgepath")
                        .attr("fill-opacity", 0)
                        .attr('stroke-opacity', 0)
                        .attr("id", function (d, i) {
                            return 'edgepath' + i
                        })
                        .style("pointer-events", "none"),
                    update => update,
                    exit => exit.remove()
                );


            edgelabels = edgelabels.data(links)
                .join(
                    enter => enter.append('text')
                        .style("pointer-events", "all")
                        .style("user-select", "none")
                        .attr("class", "edgelabel not-selected")
                        .attr("id", function (d, i) {
                            return 'edgelabel' + i
                        })
                        .on('click', clickedRel),
                    update => update,
                    exit => exit.remove()
                );

            svg.selectAll(".edgelabel_text").remove();

            edgelabels.append('textPath')
                .attr("class", "edgelabel_text")
                .attr('xlink:href', function (d, i) {
                    return '#edgepath' + i
                })
                .style("text-anchor", "middle")
                .style("pointer-events", "all")
                .attr("startOffset", "50%")
                .text(function (d) {
                    return d.type
                });

            node = node
                .data(nodes)
                .join(
                    enter => enter.append("g")
                        .attr("class", "node")
                        .call(dragger)
                        .on("click", clickedNode),
                    update => update,
                    exit => exit.remove()
                );

            svg.selectAll(".node_circle").remove();

            let cicle = node.append("circle")
                .attr("class", "node_circle")
                .attr("r", nodeSize)
                .attr("fill", d => getColorForSemTypeAbrv(d.sem_types[0]))
                .attr("fill-opacity", 0.9)
                .attr("stroke", "#fff")
                .attr("stroke-width", "1.5px");

            cicle.append("title")
                .text(function (d) {
                    return sem_types_abrv_to_text(d.sem_types);
                });

            svg.selectAll(".node_text").remove();

            node.append("text")
                .attr("class", "node_text")
                .style("text-anchor", "middle")
                .attr("font-size", 11)
                .style("text-shadow", "white 0px 0px 5px")
                .text(function (d) {
                    return d.label;
                });

            simulation.nodes(nodes);

            simulation.force("link").links(links);
            simulation.alpha(1).restart();

            svg.property("value", {
                nodes: nodes.map(d => ({id: d.index})),
                links: links.map(d => ({source: d.source.index, target: d.target.index}))
            });
        }

        function updateToolbox(relationship_counts, sem_types_counts) {
            let relationshipsBox = $("#relationshipTypes");
            relationshipsBox.empty();
            for (const [name, count] of Object.entries(relationship_counts)) {
                relationshipsBox.append('<div class="form-check">' +
                    '<input class="form-check-input rel-checkbox" type="checkbox" id="' + name + '" checked>' +
                    '<label class="form-check-label" for="' + name + 'Check">' + name + ' (' + count + ')</label></div>');
            }

            let semanticsBox = $("#semanticTypes");
            semanticsBox.empty();
            for (const [name, count] of Object.entries(sem_types_counts)) {
                semanticsBox.append('<div class="form-check">' +
                    '<input class="form-check-input sem-checkbox" type="checkbox" id="' + name + '" checked>' +
                    '<label class="form-check-label" style=\'color:' + getColorForSemTypeAbrv(name) + '\' for="' + name + 'Checkbox">' +
                    sem_type_abrv_to_text(name) + ' (' + count + ')</label></div>');
            }
        }

        function getNodeStats(node_label) {
            $.ajax({
                type: "POST",
                url: "{{url_for('main.node')}}",
                data: JSON.stringify({
                    "label": node_label
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    updateToolbox(data.relationship_counts, data.sem_types_counts);
                    relationshipCounts = data.relationship_counts;
                    semTypeCounts = data.sem_types_counts;
                    deflateButton.prop('disabled', true);
                    expandButton.prop('disabled', true);
                    totalNodes = data.node_count;
                },
                error: function (errMsg) {
                    alert(errMsg);
                }
            });
        }

        function plot(node_label, frozen, neighbors, skip, excl_rel, excl_sem_types) {
            $.ajax({
                type: "POST",
                url: "{{url_for('main.graph')}}",
                data: JSON.stringify({
                    "label": node_label,
                    "frozen": frozen,
                    "number_of_neighbours": neighbors,
                    "skip_nodes": skip,
                    "excluded_relationships": excl_rel,
                    "excluded_semantic_types": excl_sem_types,
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    expandedNode = data.nodes[0];
                    updateInfoBoxForNode(expandedNode);
                    createForceNetwork(data.nodes, data.links);
                    deflateButton.prop('disabled', true);
                    expandButton.prop('disabled', true);
                    let valid_nodes = totalNodes;
                    for (let rel of excl_rel) {
                        valid_nodes = valid_nodes - relationshipCounts[rel];
                    }
                    for (let sem_type of excl_sem_types) {
                        valid_nodes = valid_nodes - semTypeCounts[sem_type];
                    }
                    if (data.skip_nodes < valid_nodes) {
                        nextNodesButton.prop('disabled', false);
                    } else {
                        nextNodesButton.prop('disabled', true);
                    }
                    skipNodesNum = data.skip_nodes;
                },
                error: function (errMsg) {
                    alert(errMsg);
                }
            });
        }

        applyButton.click(applySettings);

        function get_not_checked_boxes() {
            let excluded_relationships = []
            for (let inputElement of $(".rel-checkbox")) {
                if (!inputElement.checked) {
                    excluded_relationships.push(inputElement.id);
                }
            }
            let excluded_semantic_types = []
            for (let inputElement of $(".sem-checkbox")) {
                if (!inputElement.checked) {
                    excluded_semantic_types.push(inputElement.id);
                }
            }

            return [excluded_relationships, excluded_semantic_types];
        }

        function applySettings() {
            let excluded = get_not_checked_boxes();

            plot(expandedNode.label, frozenSets, $('#numOfNeighbors').val(), 0,
                excluded[0], excluded[1])
        }

        nextNodesButton.click(getNextNodes);

        function getNextNodes() {
            let excluded = get_not_checked_boxes();
            plot(expandedNode.label, frozenSets, $('#numOfNeighbors').val(), skipNodesNum, excluded[0], excluded[1]);
        }

        function updateInfoBoxForNode(node) {
            $("#term").html('<strong>' + node.label + '</strong>');

            let info = document.getElementById("linkInfo");
            if (info.style.display === "block") info.style.display = "none";

            info = document.getElementById("nodeInfo");
            if (info.style.display === "none") info.style.display = "block";


            let prevUl = document.getElementById("semTypeList");
            if (prevUl) {
                prevUl.remove();
            }

            let ul = document.createElement('ul');
            ul.setAttribute("id", "semTypeList")
            document.getElementById('nodeInfo').appendChild(ul);

            node.sem_types.forEach(function (sem_type) {
                let li = document.createElement('li');
                li.style.color = getColorForSemTypeAbrv(sem_type);
                ul.appendChild(li);
                li.innerHTML = '<p style="color:' + getColorForSemTypeAbrv(sem_type) + '">'
                    + getSemCategoryFromAbrv(sem_type) + ' -> '
                    + sem_type_abrv_to_text(sem_type) + '<\p>';
            });
        }

        function updateInfoBoxForLink(link) {
            $("#term").html('<strong>' + link.type + '</strong>');

            let info = document.getElementById("nodeInfo");
            if (info.style.display === "block") info.style.display = "none";

            info = document.getElementById("linkInfo");
            if (info.style.display === "none") info.style.display = "block";

            let sourceInfo = document.getElementById("linkSourceNode");
            sourceInfo.innerHTML = '<p class="p-2"><strong>Source:</strong></p>'
                + '<p class="p-2" style="color: '
                + getColorForSemTypeAbrv(link.source.sem_types[0])
                + '">' + link.source.label + '</p>';

            let targetInfo = document.getElementById("linkTargetNode");
            targetInfo.innerHTML = '<p class="p-2"><strong>Target:</strong></p>'
                + '<p class="p-2" style="color: '
                + getColorForSemTypeAbrv(link.target.sem_types[0])
                + '">' + link.target.label + '</p>';
        }

        function addArticleRow(pmid, title, journal, rel, occurrences) {
            // Get a reference to the table
            let tbody = document.getElementById("articleTableBody");

            let newRow = tbody.insertRow(-1);
            if (rel === 'HAS_MESH') {
                newRow.setAttribute("class", "table-primary")
            }

            let pmidCell = newRow.insertCell(0);
            pmidCell.setAttribute("style", "width: 15%");
            let pmidText = document.createTextNode(pmid);
            pmidCell.appendChild(pmidText);

            let titleCell = newRow.insertCell(1);
            titleCell.setAttribute("style", "width: 55%");
            let titleText = document.createTextNode(title);
            titleCell.appendChild(titleText);

            let journalCell = newRow.insertCell(2);
            journalCell.setAttribute("style", "width: 15%");
            let journalText = document.createTextNode(journal);
            journalCell.appendChild(journalText);

            let occurencesCell = newRow.insertCell(3);
            occurencesCell.setAttribute("style", "width: 10%");
            let occurencesText = document.createTextNode(occurrences);
            occurencesCell.appendChild(occurencesText);

            let linkCell = newRow.insertCell(4);
            linkCell.setAttribute("style", "width: 5%");
            let link = document.createElement('a');
            link.href = 'https://pubmed.ncbi.nlm.nih.gov/' + pmid;
            link.setAttribute("target", "_blank");
            link.innerHTML = '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                '  <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>\n' +
                '  <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>\n' +
                '</svg>';
            linkCell.appendChild(link);
        }

        function addNodeArticles(node_label) {
            $.ajax({
                type: "POST",
                url: "{{url_for('main.articles')}}",
                data: JSON.stringify({
                    "node_label": node_label
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    let prevBody = document.getElementById("articleTableBody");
                    if (prevBody) {
                        prevBody.remove();
                    }
                    let tableRef = document.getElementById("articleTable");
                    let newBody = document.createElement("TBODY");
                    newBody.setAttribute("id", "articleTableBody");
                    tableRef.appendChild(newBody);
                    data.forEach(element => addArticleRow(element.pmid, element.title,
                        element.journal, element.rel, element.occurrences));
                },
                error: function (errMsg) {
                    alert(errMsg);
                }
            });
        }

        function addLinkArticles(start_cui, end_cui, rel_type) {
            $.ajax({
                type: "POST",
                url: "{{url_for('main.articles')}}",
                data: JSON.stringify({
                    "start_cui": start_cui,
                    "end_cui": end_cui,
                    "rel_type": rel_type
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    let prevBody = document.getElementById("articleTableBody");
                    if (prevBody) {
                        prevBody.remove();
                    }
                    let tableRef = document.getElementById("articleTable");
                    let newBody = document.createElement("TBODY");
                    newBody.setAttribute("id", "articleTableBody");
                    tableRef.appendChild(newBody);
                    data.forEach(element => addArticleRow(element.pmid, element.title,
                        element.journal, rel_type, element.occurrences));
                },
                error: function (errMsg) {
                    alert(errMsg);
                }
            });
        }

        $("#search").autocomplete({
            source: function (request, response) {
                $.getJSON("{{url_for('main.autocomplete')}}", {
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function (data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 2,
            select: function (event, ui) {
                frozenSets = [];
                skipNodesNum = 0;
                getNodeStats(ui.item.value);
                plot(ui.item.value, frozenSets, $('#numOfNeighbors').val(), 0, [], []);
                addNodeArticles(ui.item.value);
            }
        });


    </script>
{% endblock %}