{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Admin dashboard</h1>
    <div>
        <h2>Status</h2>
        <div id="resource-status" class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3>Literature</h3></div>
                    <div id="literature_panel_body" class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Diseases in graph</th>
                            </tr>
                            {% for mesh in mesh_terms %}
                            <tr>
                                <td>{{mesh}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% if last_update %}
                        <p class="pull-right"><strong>Last update: {{ moment(last_update).format('LLL') }} ({{ moment(last_update).fromNow() }})</strong></p>
                        {% else %}
                        <p class="pull-right"><strong>Last update: Never</strong></p>
                        {% endif %}
                        <br>
                        <div class="btn-group">
                            <button id="add_disease" type="button" class="btn btn-default btn-lg"
                                    data-toggle="collapse" data-target="#add_disease_form"
                                    aria-expanded="false" aria-controls="add_disease_form">
                              <span class="glyphicon glyphicon-plus"></span> Add disease
                            </button>
                            <button id="update_literature_btn" type="button" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update
                            </button>
                        </div>
                        <div id="add_disease_form"  class="collapse multi-collapse">
                            <br>
                            {{ wtf.quick_form(form_literature) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3>Structured resources</h3></div>
                    <div id="struct_panel_body" class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Type</th>
                                <th>Version</th>
                                <th>Filename</th>
                                <th>Added on</th>
                            </tr>
                            {% for struct in structured_resources %}
                            <tr>
                                <td>{{struct['type']}}</td>
                                <td>{{struct['version']}}</td>
                                <td>{{struct['filename']}}</td>
                                <td>{{ moment(struct['last_update']).format('LLL') }} ({{ moment(struct['last_update']).fromNow() }})</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <button id="add_resource" type="button" class="btn btn-default btn-lg"
                                data-toggle="collapse" data-target="#add_resource_forms"
                                aria-expanded="false" aria-controls="add_resource_forms">
                            <span class="glyphicon glyphicon-plus"></span> Add resource
                        </button>
                        <div id="add_resource_forms" class="collapse multi-collapse">
                            <br>
                            {{ wtf.quick_form(form_drugbank) }}
                            <br>
                            <p><strong>OR</strong></p>
                            <br>
                            {{ wtf.quick_form(form_obo) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="job-status" class="row" >
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3>Jobs</h3></div>
                    <div class="panel-body">
                        <table id="job-status-table" class="table">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Inputs</th>
                                <th>Status</th>
                                <th>Added on</th>
                                <th>By</th>
                            </tr>
                            {% for job in jobs %}
                            <tr>
                                <td>{{job['task_id']}}</td>
                                <td>{{job['task_name']}}</td>
                                <td>{{job['task_inputs']}}</td>
                                <td>{{job['status']}}</td>
                                <td>{{ moment(job['added_on']).format('LLL') }} ({{ moment(job['added_on']).fromNow() }})</td>
                                <td>{{job['user_email']}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                        <a href="{{ url_for('admin.monitor_jobs') }}" class="btn btn-primary stretched-link pull-right">See all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type=text/javascript>

        const updateLiteratureBtn = $('#update_literature_btn');
        // const addDiseaseBtn = $('#add_disease');
        // const addResourceBtn = $('#add_resource');

        function update_literature() {
            updateLiteratureBtn.html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post("{{ url_for('admin.update_literature') }}", function(data) {
                let old_button = '<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update';
                $('#update_literature_btn').html(old_button);
                $('#content').prepend('<div class="alert alert-success" role="alert">' + data.message + '</div>')
            });
        }
        updateLiteratureBtn.click(update_literature);


    </script>
{% endblock %}

